/* Universal */
/* Hamza Hamisu */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

a {
    color: unset;
}

/* Header Area */
header {
    height: 18vh;
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(40,167,185,0.9);
}

.mobile-header,
.hamburger_container {
    display: none;
}

.mr-2 { margin-right: 2%; }
.mr-4 { padding-right: 9%; }
.mr-10 { padding-right: 10%; }

/* Header Left: Logo & Search */
.title_searchbar,
.cart_user_account {
    margin-left: 10%;
}

.title_searchbar ul {
    list-style: none;
    margin-left: 10%;
    font-size: 1.5rem;
    font-weight: 700;
    white-space: nowrap;
    font-family: 'Inter';
}

.title_searchbar form {
    margin-left: 40%;
    display: flex;
    position: relative;
    align-items: center;
}

.title_searchbar input[type="text"] {
    width: 18em;
    border-radius: 5px;
}

.title_searchbar input::placeholder {
    color: #000;
}

.title_searchbar input[placeholder="Search"] {
    border: none;
    padding: 2%;
    font-weight: 700;
    font-size: 1.5rem;
    font-family: 'Inter';
}

.title_searchbar button {
    right: 0;
    border: none;
    font-size: 2rem;
    position: absolute;
    background: none;
    color: #818181;
}

/* Header Right: Cart and Account */
.cart_user_account {
    margin-right: 10%;
}

.fa-user-plus {
    padding: 2%;
    font-size: 3rem;
    margin-left: 10%;
}

.cart_user_account ul {
    list-style: none;
    margin-left: -15%;
    font-weight: 700;
    font-size: 1.5rem;
    font-family: 'Inter';
}

/* Utility */
.remove_link_decoration { text-decoration: none; }

/* Navigation Menu */
.main_menu {
    width: 100%;
    padding: 1%;
    height: 10%;
    display: flex;
}

.main_menu ul {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: center;
}

.main_menu a {
    margin-right: 1.5em;
    font-size: 2em;
    text-decoration: none;
    font-family: 'Inter';
    font-weight: 700;
}

/* Footer */
.footer_area {
    line-height: 1.5;
    margin-top: 0;
    background-color: rgba(40,167,185,0.9);
}

.follow-paywith-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}

/* Social Media Section */
.social_handles {
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.social_handles p {
    color: #000;
    white-space: nowrap;
    font-family: 'Inter';
    font-size: 2rem;
    font-weight: 700;
}

.social_icons ul {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: center;
    font-size: 2rem;
}

.social_icons a { margin-right: 1rem; }

.social_icons .fa-square-facebook {
    padding: 2px;
    border-radius: 20%;
    border: none;
    color: #3b5998;
}

.social_icons .fa-square-instagram {
    padding: 3px;
    border-radius: 20%;
    border: none;
    background: linear-gradient(to bottom right, #f95959, #ce3778, #9c218c, #663399, #2f2c5f);
}

.social_icons .fa-tiktok,
.social_icons .fa-twitter {
    padding: 2px;
    border: none;
    border-radius: 20%;
}

.social_icons .fa-twitter {
    color: #1DA1F2;
}

/* Payment Section */
.payments_modes {
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.payments_modes p {
    white-space: nowrap;
    color: #000;
    font-size: 2rem;
    font-weight: 700;
    font-family: 'Inter';
}

.payment_icons img {
    margin-left: 47%;
}

/* Footer Bottom */
.blackseparator2 {
    width: 100%;
    padding-top: 0.5%;
    background-color: #000;
}

.copyright_info {
    display: flex;
    justify-content: space-between;
}

.site_title_footer {
    margin-left: 10%;
}

.site_title_footer ul {
    list-style: none;
    padding: 0;
    font-weight: 700;
    font-size: 1.5rem;
    font-family: Inter;
}

copyright_info p {
    font-size: 1.5rem;
    margin-right: 10%;
    font-family: Inter;
    font-weight: 700;
}

/* General Utility Classes */
.center-items {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bgcolor-white { background-color: #fff; }
.bgcolor-black { background-color: #000; }
.color-white1 { color: #fff; }
.color-black { color: #000; }

.article_style1 {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'Inter';
}

.flex_box_column1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.span-grow { flex-grow: 1; }

/* 1400px */
@media screen and (max-width: 1400px) {
    .mr-10 { padding-right: 5%; }
    .main_menu a { font-size: 1.5em; }
}

/* 1200px – Mobile Navigation Appears */
@media screen and (max-width: 1200px) {

    header { display: none; }
    .main_menu { display: none; }

    .mobile-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: rgba(40,167,185,0.9);
    }

    #menu-box { display: none; }

    .hamburger_container {
        height: 5vh;
        display: flex;
        justify-content: space-between;
        background-color: #000;
        align-items: center;
        position: relative;
    }

    .fa-bars {
        font-size: 2rem;
        margin-left: 45%;
        color: #fff;
    }

    #menu-box:checked ~ .hamburger_menu {
        display: flex !important;
    }

    .hamburger_menu {
        top: 21.6%;
        left: 0;
        width: 35vw;
        display: none;
        position: fixed;
        flex-direction: column;
        background-color: #000;
        padding-left: 4%;
        z-index: 100;
    }

    .hamburger_menu ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .hamburger_menu li {
        margin: 12% 0;
    }

    .hamburger_menu a {
        color: #fff;
        font-size: 1rem;
        font-weight: bold;
        text-decoration: none;
        text-transform: uppercase;
        font-family: 'Inter';
    }

    .hamburger_container form {
        align-self: center;
        margin-right: 50%;
    }

    .menu-overlay {
        width: 100vw;
        height: 100vh;
        background-color: #9a919c17;
        position: absolute;
    }

    .title_searchbar { margin-left: 0; }
    .title_searchbar ul { font-size: 1rem; }
    .title_searchbar input[placeholder="Search"] { font-size: 1rem; }

    .hamburger_container form > input[type="text"] { width: 25vw; }
    .hamburger_container form > button,
    .hamburger_container form > input[type="text"] {
        padding-top: 1%;
    }

    .fa-user-plus { font-size: 2em; }
    .cart_user_account ul { font-size: 1em; }
    .fa-flip-horizontal { margin-left: 75%; font-size: 1.5rem; }
}

/* 1020px */
@media screen and (max-width: 1020px) {
    .hamburger_container form > button,
    .hamburger_container form > input[type="text"] {
        padding-top: 3%;
    }

    .hamburger_container form #Search,
    .hamburger_container form > button {
        font-size: 1.5rem;
    }

    .fa-bars { font-size: 3rem; }

    .hamburger_menu { top: 11.6%; }
    .hamburger_menu a { font-size: 1.5rem; }

    .article_style1 { font-size: 2rem; }
}

/* Min-width 768px */
@media screen and (min-width: 768px) {
    .hamburger_container form > button,
    .hamburger_container form > input[type="text"] {
        padding-top: 2%;
    }

    .fa-bars { font-size: 2rem; }

    .title_searchbar ul,
    .cart_user_account ul {
        font-size: 1.5rem;
    }
}

/* 600px */
@media screen and (max-width: 600px) {

    .hamburger_menu { top: 12%; }
    .hamburger_menu a { font-size: 1rem; }

    .hamburger_container form #Search,
    .hamburger_container form > button {
        font-size: 1rem;
    }

    .hamburger_container form > input[type="text"] {
        width: 40vw;
    }

    .mr-2 { margin-right: 10%; }

    .hamburger_container form { margin-right: 42%; }

    .social_handles p,
    .payments_modes p,
    .social_icons ul {
        font-size: 1.5rem;
    }

    .site_title_footer ul,
    .copyright_info p {
        font-size: 1rem;
    }

    .article_style1 { font-size: 1.5rem; }
}

/* 500px */
@media screen and (max-width: 500px) {

    .hamburger_menu { top: 13%; }

    .hamburger_container form > input[type="text"] {
        width: 39vw;
    }

    .fa-bars { font-size: 2rem; }

    .mr-2 { margin-right: 8%; }

    .hamburger_container form { margin-right: 40%; }
}

/* 470px */
@media screen and (max-width: 470px) {
    .article_style1 { font-size: 1.3rem; }
    .hamburger_container form { margin-right: 36%; }
    .hamburger_menu { top: 13%; }
}

/* 343px */
@media screen and (max-width: 343px) {
    .cart_user_account { margin-right: 12%; }
    .title_searchbar ul { margin-right: 32%; }
}

/* 308px – very small screens */
@media screen and (max-width: 308px) {

    .mobile-header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .fa-bars {
        font-size: 1.5rem;
        margin-left: 6%;
    }

    .hamburger_menu { top: 24%; }

    .hamburger_container form > input[type="text"] {
        width: 55vw;
    }

    .hamburger_container form { margin-right: 2%; }

    .article_style1 { font-size: 1rem; }

    .social_handles p,
    .payments_modes p,
    .social_icons ul {
        font-size: 1rem;
    }

    .payment_icons img { margin-left: 0; }
}
