/* --- Top Image Section --- */
/* Hamza Hamisu */
.homeimage-top-container {
    margin: 0;
    padding: 0;
}

.homeimage-top-container img {
    width: 100%;
    object-fit: cover;
}

/* --- Articles Section --- */
.home_article1_container {
    width: 49%;
    margin: auto;
    padding: 20px;
    background-color: unset;
}

.home_article1_container ul {
    list-style-type: none;
}

.home_article2_container {
    width: 50%;
}

.home_article2_container p {
    top: 190%;
    list-style-type: none;
}

.home_article2_container h2 {
    text-align: center;
    left: 30%;
    top: 6%;
    font-family: 'Inter';
    font-weight: 600;
    font-style: normal;
    font-size: 2rem;
}

/* --- Middle Images Section --- */
.homeimages-middle {
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20%;
    gap: 5%;
}

.homeimages-middle img {
    width: 50%;
    object-fit: cover;
}

/* --- Submenu Grid --- */
.submenu_grid_container {
    display: grid;
    width: 50%;
    padding: 0;
    grid-template-columns: auto auto;
}

.grid_submenu {
    padding: 9%;
    border: unset;
    text-align: center;
}

.grid_submenu .home_button,
.Events_button_button,
.Museum_button,
.Exhibition_button,
.Explore_button,
.Visit_Us_button {
    border-radius: 73%;
    border: unset;
    padding: 3%;
    width: 20vw;
    font-size: 1.5rem;
    font-weight: 700;
}

/* Button Colors */
.grid_submenu .home_button { background: #28B92EED; }
.grid_submenu .Events_button_button { background: #28A7B9E5; }
.grid_submenu .Museum_button { background: #AD28B9E5; }
.grid_submenu .Exhibition_button { background: #3428B9E5; }
.grid_submenu .Explore_button { background: #28B92EED; }
.grid_submenu .Visit_Us_button { background: #28A7B9E5; }

/* --- Assets Middle Section --- */
.homeassets-middle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5% 0;
    padding: 0 15%;
    gap: 5%;
}

/* --- MEDIA QUERIES --- */

/* 1000px */
@media screen and (max-width: 1000px) {
    .home_article1_container,
    .home_article2_container {
        width: 60%;
    }

    .homeimages-middle {
        flex-direction: column;
    }

    .home_article1_container ul {
        padding-left: 0;
    }

    .home_article2_container h2 {
        font-size: 3rem;
    }
}

/* 600px */
@media screen and (max-width: 600px) {

    .home_article1_container,
    .home_article2_container {
        width: 80%;
    }

    .submenu_grid_container { margin-bottom: 2%; }

    .homeimages-middle img { width: 80vw; }

    .grid_submenu .home_button,
    .Events_button_button,
    .Museum_button,
    .Exhibition_button,
    .Explore_button,
    .Visit_Us_button {
        font-size: 1rem;
    }

    .home_article2_container h2 {
        font-size: 2rem;
    }
}

/* 500px */
@media screen and (max-width: 500px) {

    .homeimages-middle {
        flex-direction: column;
    }

    .submenu_grid_container {
        grid-template-columns: auto;
        margin-bottom: 3%;
    }

    .submenu_container {
        margin: 0;
        padding: 0;
    }

    .grid_submenu {
        padding: 5%;
    }

    .grid_submenu .home_button,
    .Events_button_button,
    .Museum_button,
    .Exhibition_button,
    .Explore_button,
    .Visit_Us_button {
        width: 45vw;
        font-size: 1rem;
    }

    .home_article2_container h2 {
        font-size: 2rem;
    }
}

/* 470px */
@media screen and (max-width: 470px) {
    .home_article1_container,
    .home_article2_container {
        width: 80%;
    }

    .home_article2_container h2 {
        font-size: 2rem;
    }
}

/* 308px */
@media screen and (max-width: 308px) {
    .home_article2_container h2 {
        font-size: 1.5rem;
    }
}
